#expenseModal {
    &::part(modal) {
        height: calc(100% - var(--save-top) - 1.5rem);
        padding-block-end: 1.5rem;

        --s: 41px; /* control the size*/
        --c1: light-dark(rgb(239,239,244), rgb(38,38,40));
        --c2: var(--bg-modal);

        --_l: #0000 46%,var(--c1) 47% 53%,#0000 54%;
        background:
            radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
            radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
            radial-gradient(100% 100%,#0000 22%,var(--c1) 23% 29%, #0000 30% 34%,var(--c1) 35% 41%,#0000 42%),
            var(--c2);
        background-size: calc(var(--s)*2) calc(var(--s)*2);
    }

    & header {
        background-color: transparent;
        backdrop-filter: none;
    }

    .modal-body {
        padding: var(--size-1);
        height: calc(100% - 80px);

        & custom-form {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }
    }

    .selected-category {
        padding: var(--size-3);
        min-height: 100px;
        display: flex;
        align-items: flex-end;

        & h3 {
            font-size: var(--text-3xl);
            font-weight: 300;
            background-color: transparent !important;
        }
    }

    .expense-card {
        background-color: var(--bg-card);
        border-radius: 2.25rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding-block: var(--size-2);

        .amount {
            padding: var(--size-3);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .currency-symbol {
                width: 3.5rem;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3.5rem;
                background-color: color-mix(in srgb, var(--primary) 12%, transparent);
                color: var(--primary);
                font-size: var(--text-2xl);
            }

            .amount-input {
                font-size: var(--text-4xl);
            }
        }

        .options {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-inline: var(--size-3);
            gap: var(--size-3);

            .date-select {
                flex: 1;
                height: 5rem;
                border-radius: 5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--size-3);
                padding: var(--size-2);
                background-color: var(--bg-modal);

                & date-display {
                    padding-inline-start: var(--size-3);
                    font-size: var(--text-lg);
                }

                .icon {
                    width: 4rem;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4rem;
                    background-color: var(--solid);
                }
            }
        }

        .numberpad {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            place-items: center;
            place-content: space-evenly;
            padding: var(--size-3);

            .numberkey {
                width: 80%;
                height: 3.5rem;
                aspect-ratio: 1;
                border-radius: 5rem;
                background-color: transparent;
                border: none;
                outline: none;

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--text-2xl);
                font-weight: 500;
                color: var(--fg-accent);

                &[data-key="DELETE"] {
                    color: var(--color-red);
                }
            }
        }
    }

    & footer {
        padding-block: var(--size-1) var(--size-3);

        display: flex;
        justify-content: center;
        align-items: center;

        [data-button] {
            min-width: 10rem;
            height: 4rem;
            border-radius: 4rem;
            background-color: color-mix(in srgb, var(--primary) 20%, var(--solid));
            /* background-color: var(--primary); */
            padding-inline: var(--size-5);
            gap: var(--size-3);
            /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px; */

            & svg-icon {
                color: var(--primary);
            }
        }
    }
}