#filterModal {
    --backdrop-bg: color-mix(in srgb, var(--primary) 12%, transparent);
    --backdrop-filter: var(--bg-filter);

    &::part(modal) {
        background-color: var(--bg-card);
        /* padding-block-end: va; */

        --s: 41px; /* control the size*/
        --c1: light-dark(rgb(239,239,244), rgb(38,38,40));
        --c2: var(--bg-modal);

        --_l: #0000 46%,var(--c1) 47% 53%,#0000 54%;
        background:
            radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
            radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
            radial-gradient(100% 100%,#0000 22%,var(--c1) 23% 29%, #0000 30% 34%,var(--c1) 35% 41%,#0000 42%),
            var(--c2);
        background-size: calc(var(--s)*2) calc(var(--s)*2);
    }

    & header {
        /* background-color: var(--card-glass); */
        background-color: transparent;
        backdrop-filter: none;
    }

    category-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: var(--size-3) 0;
        padding: 0;
        list-style: none;
        gap: var(--size-1);

        label {
            width: 100%;
            display: grid;
            gap: var(--size-1);
            border-radius: 1.5rem;
            padding: var(--size-1);
            position: relative;

            .icon {
                width: 3rem;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: var(--glass);
            }

            .add,
            .remove {
                position: absolute;
                top: -0.25rem;
                right: -0.25rem;

                display: flex;
                justify-content: center;
                align-items: center;
                padding: var(--size-1);
                border-radius: 50%;
                transition: scale .6s var(--ease-spring-3), opacity .6s ease;
            }
            .add {
                color: var(--color-green);
            }
            .remove {
                color: var(--color-red);
            }

            .label {
                max-width: 100%;
                font-size: var(--text-sm);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                /* text-align: center; */
                /* color: var(--gray); */
                padding-inline-start: var(--size-2);
                padding-block-end: var(--size-2);
            }

            input {
                & ~ .add {
                    scale: 1;
                    opacity: 1;
                }
                & ~ .remove {
                    scale: 0;
                    opacity: 0;
                }

                &:checked {
                    & ~ .add {
                        scale: 0;
                        opacity: 0;
                    }
                    & ~ .remove {
                        scale: 1;
                        opacity: 1;
                    }
                }
            }
        }
    }

    footer {
        margin-block: var(--size-7) var(--size-2);

        display: flex;
        justify-content: center;
        align-items: center;

        [data-button] {
            min-width: 10rem;
            height: 4rem;
            border-radius: 4rem;
            background-color: light-dark(color-mix(in srgb, var(--primary) 12%, var(--base)), var(--black));
        }
    }
}