[toast] {
    --apple-top: max(var(--save-top), 1rem);
    padding: 0;
    border-radius: var(--radius-4);
    border: none;
    position: absolute;
    z-index: 10;
    inset: auto;
    margin: 0;
    top: 0;
    left: 50%;
    background-color: var(--bg-card);
    /* backdrop-filter: var(--glass-filter);
    border: 1px solid var(--glass-border); */
    font-family: var(--font-family);

    transform: translate(-50%, calc(var(--apple-top) - 50px)) translateZ(0);
    opacity: 0;

    transition-behavior: allow-discrete;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    contain: content;

    &:popover-open {
        transform: translate(-50%, var(--apple-top)) translateZ(0);
        opacity: 1;

        @starting-style {
            transform: translate(-50%, -100px) translateZ(0);
            opacity: 0;
        }
    }
}